<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftDate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>test2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7F4AC75F196CA67100E41579</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F84F28C196BB381002167A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F84F296196BB381002167A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F84F2B8196BB46E002167A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F84F2C2196BB46E002167A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F84F2E4196BB4AF002167A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F84F2EE196BB4AF002167A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FB18F8B196B9C510019D1E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FBF3464196BA9F30044A459</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FBF3471196BAE7E0044A459</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FC2ED8D196AF50900396E0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
